{% load i18n %}
{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% trans "PayFort" %} - {{ payment_mode }}</title>
        {% compress css %}
            {% if main_css %}
                <link rel="stylesheet" href="{{ main_css }}" type="text/x-scss">
            {% else %}
                <link rel="stylesheet" href="{% static 'css/base/main.css' %}" type="text/x-scss">
            {% endif %}
        {% endcompress %}

        {% compress css %}
            {# This block is separated to better support browser caching. #}
            {% block stylesheets %}
            {% endblock %}
        {% endcompress %}
        <script src="{{ payment_widget_js }}"></script>
        <script src="https://code.jquery.com/jquery.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="skip-link">
            <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
        </div>
        {# This adds the header for the page. #}
        {% include 'edx/partials/_student_navbar.html' %}
        
        
        <form action="{{ payment_result_url }}" class="paymentWidgets" data-brands="{{ brands }}">
        </form>
        
        {# This form is a placeholder to be filled programmatically from the View class #}
        {# The values will also include details about the course being bought #}
        {# Refer to https://paymentservices-reference.payfort.com/docs/api/build/index.html?python#standard-merchant-page-integration-request #}

        <form name="aps_form" action="https://sbcheckout.payfort.com/FortAPI/paymentPage" method="POST" target="standard_checkout_iframe">
            <input type="hidden" name="service_command" value="TOKENIZATION">
            <input type="hidden" name="language" value="">
            <input type="hidden" name="merchant_identifier" value="">
            <input type="hidden" name="access_code" value="">
            <input type="hidden" name="signature" value="">
            <input type="hidden" name="return_url" value="">
            <input type="hidden" name="merchant_reference" value="">
            
            <input value="Show Payment Form" type="submit" id="form1">
        </form>

        <center>   
            <iframe name="standard_checkout_iframe" style="border:6px dotted green" src = "" width="600" height="500"></iframe>
        </center>
        

        <div id="standard_redirect_message" style="display: none;"></div>

        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        {% compress js %}
            <script src="{% static 'bower_components/requirejs/require.js' %}"></script>
            <script src="{% static 'js/config.js' %}"></script>

            Note: django-compressor does not recognize the data-main attribute. Load the main script separately.
            <script src="{% static 'js/common.js' %}"></script>
        {% endcompress %}
    </body>
</html>
